.auth {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .img {
    animation: slide-down 0.5s ease;
  }

  .form {
    .input_icons i {
      position: absolute;
    }
    .icon {
      padding: 10px;
      color: white;
      min-width: 30px;
      text-align: center;
    }
    .input_icons {
      width: 100%;
      margin-bottom: 10px;
    }
    width: 35rem;
    padding: 1.5rem;
    animation: slide-up 0.5s ease;
    background-color: #1e293b;
    h2 {
      color: var(--color-white);
      text-align: center;
    }
    form {
      input[type="text"],
      input[type="email"],
      input[type="password"] {
        caret-color: white;
        display: block;
        font-size: 1.6rem;
        font-weight: 300;
        padding: 1rem;
        padding-left: 40px;
        padding-right: 40px;
        margin: 1rem auto;
        width: 100%;
        ::placeholder {
          color: white;
          opacity: 1; /* Firefox */
        }
        border: 1px solid #334155;
        border-bottom: 3px solid #334155;
        border-radius: 5px;
        outline: none;
        background-color: #334155;
        color: white;
        &:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          border-bottom: 3px solid #0ea5e9;
        }

        &:focus:invalid {
          border-bottom: 3px solid #0c2237;
        }
      }
      .links {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
      }

      p {
        text-align: center;
        margin: 1rem;
      }
    }
    .register {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(-5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes slide-down {
    0% {
      transform: translateY(5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@media screen and (max-width: 700px) {
  .img {
    display: none;
  }
}
